.sidebarChat {
    display:flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(206, 221, 208)
}

.sidebarChat:hover {
    background-color: rgb(205, 224, 208);
}

.sidebarChat__info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    margin-left: 15px;
}